<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Questioner | Welcome</title>
        <meta name="description" content="Meetups that build">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32" />
    		<link rel="icon" type="image/png" href="../static/img/favicon-16x16.png" sizes="16x16" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
    	<header id="top-bar">
        <div class="container">
          <div id="brand">
            <h4><a href="index.html">Questioner</a></h4>
          </div>
          <nav>
            <ul>
              <li><a href="signup.html">Sign Up</a></li>
              <li><a href="signin.html">Sign In</a></li>
            </ul>
          </nav>
        </div>
      </header>
    	<main id="indexs">
        <section id="banner">
          <div class="overlay">
            <div class="container" id="hero">
              <h2>The Meetups That Build</h2>
              <p>
                Questioner is a platform that boasts of hosting meetups that are engaging. These meetups that are bound to enrich your knowledge. Looking for a place to quench your thirst of knowledge? Look no further, this is the place to be.
               </p>
          </div>
          </div>
        </section>
        <section id="catalogue">
          <div class="container">
            <div class="box border">
              <div>
              <img src="../static/img/saas.jpg" alt="">
              <h3>All about Saas</h3>
              <p>
                Find out what's happening in SaaS (Software as a Service) Meetup groups around the world and the upcoming trends.
              </p>
              </div>
            </div>
            <div class="box border">
              <div>
              <img src="../static/img/python.jpeg" alt="">
              <h3>Python Speak</h3>
              <p>
                We talk about Python and how great of a language it is for everything from web development to scientific computing to devops and everything in between.
              </div>
            </div>
            <div class="box border">
              <div>
              <img src="../static/img/github.jpg" alt="">
              <h3>Lets Git going</h3>
              <p>
                 To build the next generation of apps we must change: - How we scale apps - How we build and test - Where applications run - How apps communicate - Embrace new ways of thinking
              </p>
              </div>
            </div>
            <div class="box border">
              <div>
              <img src="../static/img/networking.png" alt="">
              <h3>Your Network, Your Networth</h3>
              <p>
                This social group is for people mostly their 20s and 30s, in Nairobi area, who enjoy interacting and building their networks
              </p>
              </div>
            </div>
            <div class="box border">
              <div>
              <img src="../static/img/code.jpeg" alt="">
              <h3>Code talk</h3>
              <p>
                Want to learn to code but don’t know where to start? This meetup was created to help people around Nairobi learn to code and gain new skills in web development and data science.
              </p>
              </div>
            </div>
            <div class="box border">
              <div>
              <img src="../static/img/wordpress.jpg" alt="">
              <h3>Wordpress Workshops</h3>
              <p>
                The WordPress Nairobi Meetup is for any WordPress user from new to experienced to get together and discuss all things WordPress.
              </p>
              </div>
            </div>
            <div class="box border">
              <div>
              <img src="../static/img/security.jpg" alt="">
              <h3>Web security and miscellaneous</h3>
              <p>
                Do you have overlapping interests in cyber security, data mining, and machine learning? Do you want to be more informed on how data collection and analysis can be used in the security context? If your answer is yes to any of the questions, then this meetup is for you.
              </p>
              </div>
            </div>
            <div class="box border">
              <div>
              <img src="../static/img/afk1.jpg" alt="">
              <h3>Out and about</h3>
              <p>
                 This meetup is for those who want to meet new people and explore what the city has to offer. It is for the free spirited and adventurous kind. Let's explore the world together.
              </p>
              </div>
            </div>
            <div class="box border">
              <div>
              <img src="../static/img/afk2.jpg" alt="">
              <h3>Nature's secrets</h3>
              <p>
                Get to learn more about Nature's best kept secret about anything. Explore Natu
              </p>
              </div>
            </div>
          </div>
        </section>
      </main>
    	<footer>
        <div class="container">
          <p>&copy; Waithaka 2019</p>
        </div>
      </footer>
        <script src="js/main.js"></script>
    </body>
</html>
