<!doctype html>
<html lang="en">
    <head>
    	<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Questioner | Meetup</title>
        <meta name="description" content="Meetups that build">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32" />
    		<link rel="icon" type="image/png" href="../static/img/favicon-16x16.png" sizes="16x16" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/main.css">
    
    </head>
    <body>
    	<header id="top-bar">
        <div class="container">
          <div id="brand">
            <h4><a href="index.html">Questioner</a></h4>
          </div>
          <nav>
            <ul>
              <li>
              	<a href="profile.html">
              			<i class="fas fa-user"></i>
                     My Account
              	</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    	<main class="main">
       <div class="container">
         <header id="meetup-question">
           <h2 class="center">
            Question in  Meetup: [ <a href="meetup.html"><span class="meetup-name">Wordpress Workshop</span></a> ]</h2>
           <div class="posted">
                <div id="user-avatar">
                  <img src="http://i.pravatar.cc/50?img=49">
                </div>
                <div class="righter">
                <div class="question-title">
                  <h4>What plugins do you recommend for uploads</h4>
                </div>
                <div id="question-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
              </div>
                <div class="meta post">
                  <div class="meta-elements votes">
                    <button class="vote-up"></button>
                  </div>
                  <div class="meta-elements votes counter">
                    <p>3</p>
                  </div>
                  <div class="meta-elements votes">
                    <button class="vote-down"></button>
                  </div>
                  <div class="meta-elements info"><i class="fas fa-comments"></i> 2 Comments</div>
                  <div class="meta-elements info"><i class="fas fa-calendar"></i> Asked 2 days ago</div>
                </div>
              </div>
              </div>
         </header>
         <section>
           <div class="container">
             <div class="posted">
                <div id="user-avatar" class="comment">
                  <img src="http://i.pravatar.cc/50img=59">
                </div>
                <div class="righter">
                  <div id="question-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
            </div>

              <div class="posted">
                <div id="user-avatar" class="comment">
                  <img src="http://i.pravatar.cc/69">
                </div>
                <div class="righter">
                  <div id="question-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
              </div>

              <form id="comment" action="" method="">
                 <div class="posted center">
                <h4>Got some two cents about this question? Say something..</h4>
            
                <textarea class="center collapsed" id="comment" name="comment" rows="10" cols="50" placeholder="Enter Your Comment.." style="margin-top: 15px;"></textarea>
                <div class="center">
                  <button class="buttonz buttonz-primary" type="submit" name="submit">Comment</button>
                </div>
              </div>
              </form>
           </div>
         </section>

       </div>
      </main>
    	<footer>
        	<div class="container">
          		<p>&copy; Waithaka 2019</p>
        	</div>
      </footer>
        <script src="../static/js/main.js"></script>
    </body>
</html>
