<!doctype html>
<html lang="en">
    <head>
    	<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Questioner | Meetup</title>
        <meta name="description" content="Meetups that build">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32" />
    		<link rel="icon" type="image/png" href="../static/img/favicon-16x16.png" sizes="16x16" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/main.css">
    
    </head>
    <body>
    	<header id="top-bar">
        <div class="container">
          <div id="brand">
            <h4><a href="index.html">Questioner</a></h4>
          </div>
          <nav>
            <ul>
              <li>
              	<a href="profile.html">
              			<i class="fas fa-user"></i>
                     My Account
              	</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    	<main class="main">
        <div class="container">
          <header id="meetup-img">
            <img src="../static/img/wordpress.jpg" alt="">
          </header>
          <section id="meetup-info">
            <div id="meetup-desc">
              <h3>Wordpress Workshops</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="meta">
              <div class="meta-elements">
                <i class="fas fa-users"></i> 7 Members
              </div>
              <div class="meta-elements"><i class="fas fa-question"></i> 2 Questions</div>
            </div>
            </div>
            <div id="meetup-questions">
              <div class="posted">
                <div id="user-avatar">
                  <img src="http://i.pravatar.cc/50">
                </div>
                <div class="righter">
                <div id="question-title">
                  <h4>What plugins do you recommend for uploads</h4>
                </div>
                <div id="question-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
              </div>
                <div class="meta">
                  <div class="meta-elements"><i class="fas fa-comments"></i> 2 Comments</div>
                  <div class="meta-elements"><i class="fas fa-calendar"></i> Asked 2 days ago</div>
                </div>
                <div></div>
              </div>
              </div>
              
            <div class="posted">
              <div id="user-avatar">
                <img src="http://i.pravatar.cc/50">
              </div>
              <div class="righter">
              <div id="question-title">
                <h4>What plugins do you recommend for uploads</h4>
              </div>
              <div id="question-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </div>
              <div class="meta">
                <div class="meta-elements"><i class="fas fa-comments"></i> 2 Comments</div>
                <div class="meta-elements"><i class="fas fa-calendar"></i> Asked 2 days ago</div>
              </div>
              <div></div>
            </div>
            </div>
              
              <div class="posted center">
                <h4>Got some burning question about this meet up? Ask away..</h4>
                <input type="text" id="question-brief" name="question-brief" placeholder="Enter Brief question summary">
                <textarea class="center" id="question" name="question" rows="10" cols="50" placeholder="Enter Question Description. Be Descrptive as possible" style="margin-top: 15px;"></textarea>
                <div class="center">
                  <button class="buttonz buttonz-primary" type="submit" name="submit">Ask</button>
                </div>
              </div>
            </div> 
          </section>
        </div>
      </main>
    	<footer>
        	<div class="container">
          		<p>&copy; Waithaka 2019</p>
        	</div>
      </footer>
        <script src="../static/js/main.js"></script>
    </body>
</html>
