    /*Global Params*/
html{
  min-height: 100%;
}
body{
  background: #f4f4f4;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Helvetica, Arial;
}

* {-webkit-font-smoothing: antialiased;}
.wrapper{
  min-height: 100%;
}
ul{
  margin: 0;
  padding: 0;
}
.container{
  margin: auto;
  padding: 10px;
  width: 90%;
  overflow: hidden;
}
input{
  line-height: 2em;
  border: 1px solid gray;
  padding-left: 5px;
  margin: 8px;
  border-radius: 5px; 
}

input:focus{
  line-height: 2em;
  border: 1px solid crimson !important;
  border-radius: 5px; 
}
textarea{
  overflow: auto;
  resize: none;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 20px; 
}
textarea:focus{
  border: 1px solid crimson !important;
}

a{
  text-decoration: none;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
.buttonz{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.buttonz:hover{
    box-shadow: 2px 2px 3px gray;
    transform: scale(1.01);
    color: white;
}
.buttonz-lg{
  height: 100px;
  width: 200px;
}
.buttonz-primary:hover{
    background-color: #2e6da4;
}
.buttonz-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.buttonz-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.buttonz-alert{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.buttonz-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.center{
  text-align: center;
}
.wrap{
  margin: 10px;
}
.labels::after{
  content: ':';
  margin: 10px;
}
.panel{
    background: #eee;
    padding: 15px;
    margin: 10px;
    border: 1px solid darkgrey;
    border-radius: 10px;
}
.avi{
  height: 150px;
  width: 150px;
  border: 2px solid;
}
    /*Mobile View*/
@media only screen and (max-width : 590px) {
.container{
    width: 100% !important;
  }
  header ul li{
    width: 100% !important;
    text-align: center !important;
    padding: 2px 0 2px 0 !important;
  }
  header #brand h4 a{
    font-weight: bold !important;
    font-size: 1.1em !important;
  }
  header #brand{
    width: 100% !important;
    text-align: center !important;
  }
  header nav{
    width: 100% !important;
  }
  .avatar{
    margin-left: auto !important;
    margin-right: auto !important;
  }
  main{
    margin-top: 150px !important; 
  }
  textarea#question{
        width: 85%!important;
        margin-top: 15px;
  }
  textarea#comment{
        width: 85%!important;
        margin-top: 15px;
  }
  input#question-brief{
        width: 85%!important;
  }
  textarea#comment.collapsed{
    width: 80%;
  }
  #new-meetup.collapse{
    float: none;
    text-align: center;
    width: 100%;
  }
  #modalCreate.down {
    top: 100px;
  }
  .new-m.c{
    width: 80%;
  }
  .posted{
    width: 80% !important;
  }
}
/*@media only screen and (max-width : 388px) {
  h3 {
    font-size: 1em !important;
  }
  .container{
    width: 100% !important;
  }
  .box{
    padding: 10px;
    width: 100% !important;
    min-height: 600px;
    float: left;
    text-align: center;
    border-radius: 19px;
    border: 1px solid;
    margin: 10px;
  }
  .auth fieldset{
    margin-top: 200px;
    width: 80%;
    display: inline-block;
  }
  .auth{
    text-align: center;
    margin-left: 0% !important;
    margin-top: 20px !important;
  }
  header ul li{
    width: 100%;
    text-align: center;
    padding: 2px 0 2px 0;
  }
  header #brand h4 a{
    font-weight: bold;
    font-size: 1.1em;
  }
  header #brand{
    width: 100%;
    text-align: center;
  }
  header nav{
    width: 100%;
  }
  .avatar{
    margin-left: auto;
    margin-right: auto;
  }
}*/
@media only screen and (max-width: 600px) {
  .container{
    margin: auto;
    padding: 10px;
    width: 80% !important;
      }
    .box{
      padding: 10px;
      width: 100% !important;
      min-height: 600px;
      float: left;
      text-align: center;
      border-radius: 19px;
      border: 1px solid;
      margin: 10px;
    }
    .auth fieldset{
      width: 80%;
      display: inline-block;
    }
    .auth{
      text-align: center;
      margin-left: 0%;
      margin-top: 145px;
    }
}

    /* Tablet View */
@media only screen and (max-width : 854px) {
  .container{
    width: 80% !important;
  }
  .box{
    padding: 10px;
    width: 90% !important;
    min-height: 600px;
    float: left;
    text-align: center;
    border-radius: 19px;
    border: 1px solid;
    margin: 10px;
  }
  .auth fieldset{
    width: 80%;
    display: inline-block;
  }
  .auth{
    text-align: center;
    margin-top: 45px !important;
    margin-left: 0 !important;
  }
  .card-sections{
    width: 100% !important;
    float: none;
  }
  .profile-section{
    width: 100% !important;
  }
  .profile-section h3, .profile-section p{
    text-align: center;
  }
  #meetups, #top-questions{
    float: none !important;
    width: 100% !important;
  }
  #meetups ol, #top-questions ul{
    text-align: center !important;
    list-style: none !important;
  }
  .meta{
  width: 100% !important;
  }
  .meta-elements{
    width: 100% !important;
    float: none !important;
    text-align: center;
  }
  #meetup-img img {
    width: 90% !important;
  }
  .dashboard-avi.collapser{
    float: none;
    width: 100%;
    border: none;
    min-height: 350px;
    position: unset;
  }
  .dashboard-manage.cl{
    overflow: hidden;
    width: 100%;
    float: none;
    margin-left: 0;
  }
  
}

@media only screen and (max-width: 1100px){
  #user-avatar, #user-avatar img{
  display: none;
}
.righter{
    float: none;
    width: 100%;
    /*border: 1px solid;*/
}
}

    /* Large devices (laptops/desktops, 854px and up) */
@media only screen and (min-width: 854px) and (max-width: 1200px) {
  .container{
    width: 100% !important;
  }
  .box{
    padding: 10px;
    width: 45% !important;
    min-height: 600px;
    float: left;
    text-align: center;
    border-radius: 19px;
    border: 1px solid;
    margin: 10px;
  }
  .auth{
    margin-top: 130px;
    margin-left: 0 !important;
  }
}

    /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
  .box{
    padding: 10px;
    width: 29.7% !important;
    min-height: 600px;
    float: left;
    text-align: center;
    border-radius: 19px;
    border: 1px solid;
    margin: 10px;
  }
  .auth{
    margin-top: 145px;
    width: 55%;
  }
}

    /*Header*/

header#top-bar{
  background: #fff;
  color: #000;
  min-height: 65px;
  border-bottom: #D6346B 2px solid;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

header#top-bar a{
  text-decoration: none;
  color: #D6346B;
  font-size: 15px;
  text-transform: uppercase;
}

header#top-bar a:hover {
 color: #00b19a;
 text-shadow: 2px 2px 2px white;
}

header#top-bar li{
  display: inline;
  padding: 0 15px 0 15px;
  float: left;
}

header#top-bar #brand{
  float: left;
}

header#top-bar #brand h4{
  margin: 0;
}

header#top-bar nav{
  float: right;
}

    /*Overlay*/

.overlay{
  background: rgba(0, 0, 0, 0.6);
  height: 550px;
}

    /*Banner*/

#banner{
  background: #3a8683 url('../img/banner.png') no-repeat 50%;
  max-height: 550px;
  background-size: contain;
  text-align: center;
  margin-top: 75px;
}

#banner h2{
  font-size: 2em;
  margin: 180px 0 10px 0;

}
#banner h2, #banner p{
  text-shadow: 2px 2px 2px #000;
  color: #ffffff;
}

    /*Catalogue*/

#catalogue{
  margin-top: 15px;
  overflow: hidden;
}

.box{
  padding: 10px;
  width: 30%;
  min-height: 600px;
  float: left;
  text-align: center;
  border-radius: 19px;
  border: 1px solid;
  margin: 10px;
}

.box:hover{
  border: 1px solid white;
  box-shadow: 1px 1px 1px 1px grey;
}

#catalogue .box img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.box.management{
  min-height: 440px !important;
}
    /* Main*/

.main{
  margin-top: 100px;
  min-height: 600px;
}

    /*Auth*/
.auth fieldset{
  width: 80%;
  display: inline-block;
}
.auth{
  text-align: center;
  margin-left: 25%;
}
    /*Admin*/
.dashboard-avi{
  width: 30%;
  overflow: hidden;
  min-height: 600px;
  float: left;
  border-right: 2px solid crimson;
  position: fixed;
}
.dashboard-manage{
  overflow: hidden;
  width: 68%;
  float: left;
  margin-left: 30%;
}
.dashboard-avi .adm-avi{
  max-width: 200px;
  min-height: 200px;
  border-radius: 100px;
  border: 2px solid crimson;
  margin: auto;
  overflow: hidden;
}
.manager{
  border-bottom: 2px solid crimson;
}
.tasker{
  margin: 10px;
}
.emphasize{
  font-size: 50px;
  display: block;
}
.quote{
  font-size: smaller;
  font-style: italic;
  margin: 2px;
}

    /*Profile*/
#new-meetup{
  margin-bottom: 10px;
  margin-right: 10px;
}
#card{
  min-height: 300px;
  overflow: hidden;
  clear: both;
}
.card-sections{
  width: 50%;
  float: left;
}
.profile-section{
  width: 49%;
  float: left;
  /*border: 1px solid;*/
  min-height: 300px;
}
.profile-section h3, .profile-section p{
  margin: auto auto;
  padding: 25px; 
}
.stats-section{
  width: 49%;
  float: left;
  /*border: 1px solid;*/
  min-height: 300px;
  text-align: center;
}
.stats-section p{
  font-size: 3em;
  font-family: Verdana;
}
#avi{
  width: 100%;
  height: 300px;
  background: url('../img/avatar.png') no-repeat 50% 0;
  background-size: contain;
}
.avatarz{
  border: 1px solid black;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  text-align: center;
  margin-top: 0px;
}
.head-top{
  font-size: 2em; margin-top: 5px;
}
#feed{
  overflow: hidden;
}
#meetups, #top-questions{
  float: left;
  width: 50%;
}
#meetups h3, #top-questions h3{
  text-align: center; 
}
#meetups a, #top-questions a{
  color: #D6346B;
}
#meetups a:hover, #top-questions a:hover{
  color: #00b19a;
}
#meetups li, #top-questions li{
  padding: 10px;
  }

#modalCreate {
  display: none;
  position: fixed;
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}
.modal-panel {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-bottom: #D6346B 2px solid;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: dropTop;
  -webkit-animation-duration: 0.4s;
  animation-name: dropTop;
  animation-duration: 0.4s
}

@-webkit-keyframes dropTop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes dropTop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.close:hover, .close:focus {
  color: #D6346B;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  text-align: center;
  background: linear-gradient(#1C3341, #008773);
  border-top: #D6346B 2px solid;
  color: white;
}

.modal-body {padding: 2px 16px;}
.new-m{
  width: 50%;
}
.container.adm{
  width:100%!important;
}
    /*MeetUP*/
#meetup-img{
  width: 100%;
  text-align: center;
  z-index: 20;
}
#meetup-img img{
  width:50%;
  max-height: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px black;

}
#meetup-info{
  width: 100%;
}
#meetup-info{
  padding-top: 80px;
  margin-top: -80px;
  border-top: 1px solid;
  overflow: hidden;
  padding-bottom: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
}
#meetup-desc h3, #meetup-desc p{
  text-align: center;
}
.meta{
  width: 40%;
  margin: auto;
}
.meta.post{
  width: 80%;
  margin: auto;
}
.meta-elements{
  width: 50%;
  float: left;
  text-align: center;
}
.meta-elements.info{
  width: 33%;
  float: left;
  text-align: center;
}
.meta-elements.votes{
  width: 15%;
  margin-top: -15px;
}
.meta-elements.counter{
  width: 5px;
  margin-top: -20px;
}
.meta-elements i.fas{
  color: #D6346B;
}

#meetup-questions{
  width: 80%;
  overflow: hidden;
  margin: auto;
}
#user-avatar{
  width: 15%;
  height: 187px;
  /*border: 1px solid;*/
  float: left;
  max-height: 187px;
}
#user-avatar img{
  height: 100px;
  width: 100px;
  top: 25%;
  left: 25%;
  position: relative;
}
.righter{
    float: left;
    width: 84%;
    /*border: 1px solid;*/
}
#user-avatar img{
  border-radius: 50px;
}
.posted{
  border: 1px solid;
  overflow: hidden;
  margin: 10px;
  width: 90%;
  padding: 15px;
}
.posted h4{
  text-align: center;
}
.posted #question-title, .posted #question-desc{
  padding-left: 10px;
  margin-bottom: 20px;
}
.question-title h4{
  font-weight: 800;
}
input#question-brief{
    margin: auto;
    display: block;
     /*min-width: 460px; */
    max-width: 460px;
}
button.vote-up{
  background: url('../img/caret-arrow-up.png') no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 55px;
  border: none;
}
button.vote-down{
  background: url('../img/caret-down.png') no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 55px;
  border: none;
}

    /*Meetup Question*/

#meetup-question{

}
#user-avatar.comment img{
  height: 100px;
  width: 100px;
  top: 0%;
  left: 15%;
  position: relative;
}
#user-avatar.comment{
  max-height: 100px;
}
textarea#comment{
  width: 90%;
  padding: 10px;

}
.meetup-name{
  color: #D6346B;
}
.meetup-name:hover{
  color: #00b19a;
}

    /*Footer*/
footer{
  margin-top: -10px;
  padding: 20px;
  text-align: center;
  background: linear-gradient(#1C3341, #008773);
  border-top: #D6346B 2px solid;

}
