<!doctype html>
<html lang="en">
    <head>
    	<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Questioner | My Dashboard</title>
        <meta name="description" content="Meetups that build">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="../../static/img/favicon-32x32.png" sizes="32x32" />
    		<link rel="icon" type="image/png" href="../../static/img/favicon-16x16.png" sizes="16x16" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/css/main.css">
 <style type="text/css">
  .box{
    min-height: 440px !important;
  }
 </style>
    </head>
    <body>
      <div class="wrapper">
    	<header id="top-bar">
        <div class="container">
          <div id="brand">
            <h4><a href="index.html">Questioner</a></h4>
          </div>
          <nav>
            <ul>
              <li>
              	<a href="javascript:void;">
              		<i class="fas fa-bell"></i>
              		 Notifications
          		</a>
          	</li>
              <li>
              	<a href="javascript:void;">
              		<i class="fas fa-cog"></i>
              		 Settings
          		</a>
          	</li>
              <li>
              	<a href="javascript:void;">
              		<div class="avatar">
              			<i class="fas fa-user" style="font-size: 2em; margin-top: 5px;"></i>
              		</div>
              	</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    	<main class="main">
        <h3 class="center">Manage Meetups</h3>
          <section id="catalogue">
          <div class="container">
            <div class="box management border">
              <div>
              <img src="../../static/img/saas.jpg" alt="">
              <h3>All about Saas</h3>
              <div class="meta">
                <div class="meta-elements"><button class="buttonz buttonz-info"><i class="fas fa-pencil-alt"></i> Edit</button></div>
                <div class="meta-elements"><button class="buttonz buttonz-alert" onclick='deleter();'><i class="far fa-trash-alt"></i> Delete</button></div>
              </div>
              </div>
            </div>
            <div class="box management border">
              <div>
              <img src="../../static/img/python.jpeg" alt="">
              <h3>Python Speak</h3>
              <div class="meta">
                <div class="meta-elements"><button class="buttonz buttonz-info"><i class="fas fa-pencil-alt"></i> Edit</button></div>
                <div class="meta-elements"><button class="buttonz buttonz-alert" onclick='deleter();'><i class="far fa-trash-alt"></i> Delete</button></div>
              </div>
              </div>
            </div>
            <div class="box management border">
              <div>
              <img src="../../static/img/github.jpg" alt="">
              <h3>Lets Git going</h3>
              <div class="meta">
                <div class="meta-elements"><button class="buttonz buttonz-info"><i class="fas fa-pencil-alt"></i> Edit</button></div>
                <div class="meta-elements"><button class="buttonz buttonz-alert" onclick='deleter();'><i class="far fa-trash-alt"></i> Delete</button></div>
              </div>
              </div>
            </div>
            <div class="box management border">
              <div>
              <img src="../../static/img/networking.png" alt="">
              <h3>Your Network, Your Networth</h3>
              <div class="meta">
                <div class="meta-elements"><button class="buttonz buttonz-info"><i class="fas fa-pencil-alt"></i> Edit</button></div>
                <div class="meta-elements"><button class="buttonz buttonz-alert" onclick='deleter();'><i class="far fa-trash-alt"></i> Delete</button></div>
              </div>
              </div>
            </div>
            <div class="box management border">
              <div>
              <img src="../../static/img/code.jpeg" alt="">
              <h3>Code talk</h3>
              <div class="meta">
                <div class="meta-elements"><button class="buttonz buttonz-info"><i class="fas fa-pencil-alt"></i> Edit</button></div>
                <div class="meta-elements"><button class="buttonz buttonz-alert" onclick='deleter();'><i class="far fa-trash-alt"></i> Delete</button></div>
              </div>
              </div>
            </div>
            <div class="box management border">
              <div>
              <img src="../../static/img/wordpress.jpg" alt="">
              <h3>Wordpress Workshops</h3>
              <div class="meta">
                <div class="meta-elements"><button class="buttonz buttonz-info"><i class="fas fa-pencil-alt"></i> Edit</button></div>
                <div class="meta-elements"><button class="buttonz buttonz-alert" onclick='deleter();'><i class="far fa-trash-alt"></i> Delete</button></div>
              </div>
              </div>
            </div>
            <div class="box management border">
              <div>
              <img src="../../static/img/security.jpg" alt="">
              <h3>Web security and miscellaneous</h3>
              <div class="meta">
                <div class="meta-elements"><button class="buttonz buttonz-info"><i class="fas fa-pencil-alt"></i> Edit</button></div>
                <div class="meta-elements"><button class="buttonz buttonz-alert" onclick='deleter();'><i class="far fa-trash-alt"></i> Delete</button></div>
              </div>
              </div>
            </div>
            <div class="box management border">
              <div>
              <img src="../../static/img/afk1.jpg" alt="">
              <h3>Out and about</h3>
              <div class="meta">
                <div class="meta-elements"><button class="buttonz buttonz-info"><i class="fas fa-pencil-alt"></i> Edit</button></div>
                <div class="meta-elements"><button class="buttonz buttonz-alert" onclick='deleter();'><i class="far fa-trash-alt"></i> Delete</button></div>
              </div>
              </div>
            </div>
            <div class="box management border">
              <div>
              <img src="../../static/img/afk2.jpg" alt="">
              <h3>Nature's secrets</h3>
              <div class="meta">
                <div class="meta-elements"><button class="buttonz buttonz-info"><i class="fas fa-pencil-alt"></i> Edit</button></div>
                <div class="meta-elements"><button class="buttonz buttonz-alert" onclick='deleter();'><i class="far fa-trash-alt"></i> Delete</button></div>
              </div>
              </div>
            </div>
          </div>
        </section>
        </div>
      </section>

        
      </main>
    	<footer>
        	<div class="container">
          		<p>&copy; Waithaka 2019</p>
        	</div>
      </footer>
        <script src="../../static/js/main.js"></script>
        </div>
    </body>
</html>
